html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
}


body, main {
    display: flex;
    flex-direction: column;
    min-width: 980px; 

}



.상단광고배경 {
    background-color: black;
    width: 100%;
    height: 90px;
    position: relative;
    overflow-x: hidden; 
}

.상단광고이미지 {
    background-image: url("https://adimg.cgv.co.kr/images/202506/28Years/0611_980x80.jpg");
    background-repeat: no-repeat;
    background-position: center center;  
    background-size: contain;          /* 비율 유지하며 가로만큼 채움 */
    margin: auto;
    width: 980px;                      
    height: 90px;                      
    z-index: 5;
}

.배너 {
    flex-direction: column;
    display: flex;
}

.배너윗부분 {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.배너오른쪽 {
    flex-direction: row;
    display: flex;
    margin: 20px 200px 20px 0px;
    gap: 30px;
    align-items: end;
} 

.배너왼쪽 {
    flex-direction: row;
    display: flex;
    margin: 20px 0px 20px 200px;
}


.로고사진 {
    background-image: url('https://img.cgv.co.kr/R2014/images/common/logo/logoRed.png');
    background-repeat: no-repeat;
    background-position: left center;  
    background-size: contain;   
    width: 130px;                      
    height: auto;                      
    z-index: 5;
    display: flex;
}

.배너왼쪽 > p {
    align-items: end;
    display: flex;
    margin: 0 0 20px 10px;
    font-weight: 1;
    letter-spacing: 3px;
}

.배너윗부분 {
    display: flex;
    height: 150px;
    width: 100%;
    border-bottom: 2px solid #eeeeee;
}

.배너아랫부분 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid red;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    position: relative;
}

.메뉴바 {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    font-weight: 500;
    font-size: 18px;
    margin: 0px 200px;
    white-space: nowrap;
}
.검색바 {
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    padding: 0 20px;
    margin: 0px 200px;
    display: flex;
}
#검색입력 {
    border: 0;
    height: 100%;
}

.검색입력 {
    flex-wrap: nowrap;
    display: flex;
}

#돋보기 {
    border: 0;
    background-color: transparent;
    font-size: 25px;
}
.작은배너 {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(45deg, rgb(255, 37, 37), #ff6600);
    z-index: 10;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
}
.작은배너왼쪽 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.작은로고사진 {
    background-image: url('https://img.cgv.co.kr/R2014/images/common/logo/logoWhite.png');
    background-repeat: no-repeat;
    background-position: left center;  
    background-size: contain;   
    width: 80px;                      
    height: 40px;                      
    z-index: 5;
    display: flex;
    margin: 10px 10px;
}

.검색바 {
    display: flex;
    flex-wrap: nowrap;
}


.작은메뉴바 {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    font-weight: 500;
    font-size: 19px;
    white-space: nowrap;
    color: white;
}

.작은검색입력 {
    border-left: 1px solid rgb(90, 0, 0);
    border-right: 1px solid rgb(90, 0, 0);
    padding: 10px;
    margin: 30px 0;
    overflow: hidden;
    flex-wrap: nowrap;
}

#작은검색창 {
    border: 0;
    background-color: transparent;
}

#작은검색창::placeholder {
    color: white;
}



.상세메뉴 {
    position: absolute;
    display: none;
    width: 100%;
    justify-content: center;
    top: 300px;
    background-color: white;
    z-index: 10;
    overflow: hidden;
    min-width: 980px;
}

.큰상세 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: auto;
    margin: 10px;
    gap: 80px;
    justify-content: center;
    overflow: hidden;
    max-width: 980px;
    min-width: 980px;
}

.영화, .극장, .예매, .스토어, .이벤트, .혜택 {
    list-style: none;
    color: #666;
    font-size: 15px;
    white-space: nowrap;
}

.영화 > li:first-child, .극장 > li:first-child, .예매 > li:first-child, .스토어 > li:first-child, .이벤트 > li:first-child, .혜택 > li:first-child {
    font-weight: 800;
    color: black;
}
.영화 > li, .극장 > li, .예매 > li, .스토어 > li, .이벤트 > li, .혜택 > li {
    margin: 10px 0;
}

.로그인버튼, .회원가입버튼, .my버튼, .고객센터버튼 {
    flex-direction: column;
    display: flex;
}

.로그인버튼 > p, .회원가입버튼 > p, .my버튼 > p, .고객센터버튼 > p {
    font-size: 15px;
    color: grey;

    white-space: nowrap;
}

.로그인사진 {
    background-image: url("https://img.cgv.co.kr/R2014/images/common/ico/loginPassword.png");
    background-repeat: no-repeat;
    background-position: center center;  
    background-size: contain;  
    width: 36px;                      
    height: 36px;                      
    z-index: 5;
}

.회원가입사진 {
    background-image: url("https://img.cgv.co.kr/R2014/images/common/ico/loginJoin.png");
    background-repeat: no-repeat;
    background-position: center center;  
    background-size: contain;  
    width: 36px;                      
    height: 36px;                      
    z-index: 5;
}

.my사진 {
    background-image: url("https://img.cgv.co.kr/R2014/images/common/ico/loginMember.png");
    background-repeat: no-repeat;
    background-position: center center;  
    background-size: contain;  
    width: 36px;                      
    height: 36px;                      
    z-index: 5;
}

.고객센터사진 {
    background-image: url("https://img.cgv.co.kr/R2014/images/common/ico/loginCustomer.png");
    background-repeat: no-repeat;
    background-position: center center;  
    background-size: contain;  
    width: 36px;                      
    height: 36px;                      
    z-index: 5;
}

.자주가는CGV {
    background-color: rgb(49, 48, 48);
    width: 960px;
    height: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.자주가는CGV윗부분 {
    border-bottom: 2px solid #888888;
}

.자주가는지점 {
    display: flex;
    flex-direction: row;
    list-style: none;
}
#자주가는CGV지점 li {
    cursor: pointer;
}

.자주가는CGV윗부분 {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.자주가는CGV로고 {
    background-image: url("https://img.cgv.co.kr/R2014/images/title/h4_favorite_cgv.png");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: contain;  
    width: 140px;                      
    height: 70px;                      
    z-index: 5;

    
}
.자주가는지점칸 {
    border: 3px double #888888;
    height: 40px;
    width: 100px;
}

.지점더하기버튼 {
    background-color: #888;
    height: 43px;
    width: 43px;
    border: 1px solid #999;
    color: white;
    font-size: 38px;
}

.지점초기화버튼 {
    background-color: #888;
    height: 43px;
    width: 43px;
    border: 1px solid #999;
    color: white;
    font-size: 38px;
}

.자주가는CGV지역 {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    border-bottom: 2px solid #888;
    padding: 10px;
    align-items: center;
    margin: 5px 0 20px 0;
    font-size: 18px;
}

.자주가는CGV지점 {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    color: rgb(207, 207, 207);
    font-size: 15px;
    margin: 20px 20px 50px 20px;
}

.선택지점 {
    color: white;
    font-weight: bold;
}

.칸안에 {
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#위로가기 {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-size: 30px;
    height: 50px;
    width: 50px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

#예매하기 {
    position: fixed;
    display: none;
    right: 90px;
    bottom: 30px;
    border-radius: 50px;
    border: 0;
    color: white;
    background:  linear-gradient(45deg, rgb(255, 37, 37), #ff6600);
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    width: 140px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}


