
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    align-items: center;
}

form > label {
    padding: 5px;
}

form > label > input {
    padding: 3px;
    border-radius: 7px;
    border: 1px solid grey;
}

.회원가입 {
    height: 100%;
    width: 100%;
}
