
html{
    background-color: #1155AA88;
}

body{
    width: 650px;
    margin: auto; /*width를 늘렸으니 마진이 줄어들기마련. 마진을 양옆 동일하게 자동으로 설정하여 분배.*/
    font-family: "Gowun Dodum", sans-serif;
    text-align: right;
}

.사진{
    display: flex;
    margin: 30px;
    gap: 30px;
}



h1{
    font-size: 48px;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

p{
    font-size: 1rem;
}